<div clas="layout">
    <div class="header">
        <h2>
            My Dog App
        </h2>
        <div class="button-section">
            <div>
                User is {{loginStatus}}
            </div>
            <button class="button-style" (click)="onButtonPress()">
                {{buttonLabel}}
            </button>
            <button *ngIf="loginStatus === 'Logged in'" class="button-style" (click)="onChangePassword()">
                Change Password
            </button>
        </div>
    </div>
    <div *ngIf="authErrorMessage">
        {{authErrorMessage}}
    </div>
    <router-outlet></router-outlet>
</div>